
        <div class="card my-5">
            <div class="card-header text-center">
                <h2>Izmeni oglas</h2>
            </div>
            <div class="card-body">
                <form action="/oglasi/izmeni/<%= oglas.id %>?_method=PUT" method="POST">
                    <%- include('_form_fields') %>
                </form>
            </div>
        </div>
